# VITE_API_BASE_URL=http://localhost:8000/api

# Google Maps Geocoding API key
# Get yours: https://console.cloud.google.com/apis/credentials
# Enable "Geocoding API" in your project.
# Leave blank to use Nominatim (OpenStreetMap) for free reverse geocoding.
VITE_GOOGLE_MAPS_API_KEY=AIzaSyC-7JjgSXDrqNF1BMMnlvKtgRPS6_98uP8
VITE_GOOGLE_CLIENT_ID=628867483502-e7snj6l150js2vpvkv70opo5h4aacgus.apps.googleusercontent.com  